.stats {
  display: flex;
  justify-content: space-between;
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #555;
}

.statItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statNumber {
  font-weight: bold;
  font-size: 24px;
  color: #6a11cb;
}